{% extends 'shop/base.html' %}

{% block title %}
        Product List
{% endblock title %}

{% block body %}
    <div class="main">
        <div class="sidebar">
            {% for c in categories %}
                <a href="">{{c.name}}</a>
            {% endfor %}
        </div>
        <div class="left">
            
            {% for p in products %}
                <div class="product">
                    
                    {% if p.image %}
                    <img src="{{p.image.url}}" alt="Image" class="product-img" width="200">
                    {% endif %}
                    <br>
                    <h3>{{p.name}}</h3>
                    <br>
                    <p>$ {{p.price}}</p>
                        
                </div>
            {% endfor %}
                
        </div>
    </div>
{% endblock body %}
    
    